<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>youngweb</display-name>
	<listener>
		<listener-class>org.young.listener.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.young.ioc.listener.IocLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>UrlRewriteSpecFilter</filter-name>
		<filter-class>org.young.filter.UrlRewriteSpecFilter</filter-class>
		<init-param>
			<param-name>excludeURI</param-name>
			<param-value>/img/,/css/,/script/</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteSpecFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>org.young.filter.CharsetEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AuthorizeFilter</filter-name>
		<filter-class>org.young.filter.AuthorizeFilter</filter-class>
		<init-param>
			<param-name>loginURI</param-name>
			<param-value>login/index</param-value>
		</init-param>
		<init-param>
			<param-name>authURI</param-name>
			<param-value>admin/[a-z]+,login/logout
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AuthorizeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>proxool</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxool</servlet-name>
		<url-pattern>/proxool</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>org.youngweb.login.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>login/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AdminController</display-name>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>org.youngweb.login.controller.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>admin/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>MainController</display-name>
		<servlet-name>MainController</servlet-name>
		<servlet-class>org.youngweb.main.controller.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>main/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/htm/404.htm</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/htm/404.htm</location>
	</error-page>
</web-app>
